{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/custom/interface/objectcrafting/st_ammoduplicator_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Duplicate"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [27, 55],
      "dimensions" : [2, 1],
      "spacing" : [31, 31],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 138]
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 100],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place bullets and lead in the left slots to duplicate! \n ^orange;Rarer bullets use more lead."
      },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [94, 55],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [80, 58],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/custom/interface/objectcrafting/st_ammoduplicatorshine.png",
      "position" : [0, 20]
    }
  }
}
