{
  "assaultRifle" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 0.11,
    "baseDps" : 16,
    "energyUsage" : 0,   
    "ammoUsage" : 1,
    "inaccuracy" : 0.02,
	   
    "reloadTime" : 1.5,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "standardbullet", 
            "projectileParameters" : {
              "knockback": 5
            }
            //"fireSounds" : [ "/sfx/gun/plasma_ar1.ogg", "/sfx/gun/plasma_ar2.ogg", "/sfx/gun/plasma_ar3.ogg", "/sfx/gun/plasma_pistol3.ogg" ] //talvez colocar depois
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "fireplasma", 
            "projectileParameters" : {
              "knockback": 5,
              "statusEffects" : [ "burning" ]
            }
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "iceplasma", 
            "projectileParameters" : {
              "knockback": 5,
              "statusEffects" : [ "frostslow" ]
            }
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "poisonplasma", 
            "projectileParameters" : {
              "knockback": 5,
              "statusEffects" : [ "weakpoison" ]
            }
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "electricplasma", 
            "projectileParameters" : {
              "knockback": 5,
              "statusEffects" : [ "electrified" ]
            }
          }
        }
      }
    },
    
    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 2,
        "weaponRotation" : 4,
        "twoHanded" : true,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.11,
        "armRotation" : 2,
        "weaponRotation" : 4,
        "twoHanded" : true,
		    "recoil": true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "pistol" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 0.6,
    "baseDps" : 8.5,
    "energyUsage" : 0,
    "ammoUsage" : 3,
    "inaccuracy" : 0.025,
	   
    "reloadTime" : 1.5,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "standardbullet", 
            "empoweredProjectileType": "st_strongsniperbullet",
            "projectileParameters" : {
              "knockback": 6
            },
            "empoweredProjectileParameters" : {}
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "fireplasma", 
            "empoweredProjectileType": "st_strongfiresniperbullet",
            "projectileParameters" : {
              "knockback": 6,
              "statusEffects": [ "burning" ]
            },
            "empoweredProjectileParameters" : {}
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "iceplasma", 
            "empoweredProjectileType": "st_strongicesniperbullet",
            "projectileParameters" : {
              "knockback": 6,
              "statusEffects": [ "frostslow" ]
            },
            "empoweredProjectileParameters" : {}
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "poisonplasma", 
            "empoweredProjectileType": "st_strongpoisonsniperbullet",
            "projectileParameters" : {
              "knockback": 6,
              "statusEffects": [ "weakpoison" ]
            },
            "empoweredProjectileParameters" : {}
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "electricplasma", 
            "empoweredProjectileType": "st_strongelectricsniperbullet",
            "projectileParameters" : {
              "knockback": 6,
              "statusEffects": [ "electrified" ]
            },
            "empoweredProjectileParameters" : {}
          }
        }
      }
    },

    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : false,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 4,
        "weaponRotation" : 6,
        "twoHanded" : false,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.15,
        "armRotation" : 4,
        "weaponRotation" : 6,
        "twoHanded" : false,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "shotgun" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 1.2,
    "baseDps" : 20,
    "energyUsage" : 0,
    "ammoUsage" : 4.5,
    "inaccuracy" : 0.12,
	
    "reloadTime" : 1.5,

    "projectileCount" : 8,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType": "st_normalpellet",
            "projectileParameters": {
              "damageKind": "shotgunbullet",
              "knockback": 20
            }
          },
          "slug" : { 
            "projectileType": "st_shotgunslug",
            "projectileParameters": {
              "knockback": 20
            }
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType": "st_firepellet",
            "projectileParameters": {
              "damageKind": "shotgunbullet",
              "knockback": 20
            }
          },
          "slug" : { 
            "projectileType": "st_fireshotgunslug",
            "projectileParameters": {
              "knockback": 20
            }
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType": "st_icepellet",
            "projectileParameters": {
              "damageKind": "shotgunbullet",
              "knockback": 20
            }
          },
          "slug" : { 
            "projectileType": "st_iceshotgunslug",
            "projectileParameters": {
              "knockback": 20
            }
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType": "st_poisonpellet",
            "projectileParameters": {
              "damageKind": "shotgunbullet",
              "knockback": 20
            }
          },
          "slug" : { 
            "projectileType": "st_poisonshotgunslug",
            "projectileParameters": {
              "knockback": 20
            }
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType": "st_electricpellet",
            "projectileParameters": {
              "damageKind": "shotgunbullet",
              "knockback": 20
            }
          },
          "slug" : { 
            "projectileType": "st_electrocshotgunslug",
            "projectileParameters": {
              "knockback": 20
            }
          }
        }
      }
    },
    
    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : true,

        "frontArmFrame" : "jump.1",

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 6,
        "weaponRotation" : 10,
        "twoHanded" : true,
	    	"recoil" : true,

        "frontArmFrame" : "jump.1",

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.25,
        "armRotation" : 6,
        "weaponRotation" : 10,
        "twoHanded" : true,
		    "recoil" : true,

        "frontArmFrame" : "jump.1",

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "sniperRifle" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 1,
    "baseDps" : 10,
    "energyUsage" : 0,
    "ammoUsage" : 4.5,
    "inaccuracy" : 0.008,
	   
    "reloadTime" : 1.5,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_sniperbullet",
            "projectileTypeUncharged": "standardbullet",
            "projectileTypeCharged": "st_strongsniperbullet",
            "projectileParameters" : {
              "knockback": 20
            }
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_firesniperbullet",
            "projectileTypeUncharged": "fireplasma",
            "projectileTypeCharged": "st_strongfiresniperbullet",
            "projectileParameters" : {
              "knockback": 20,
              "statusEffects" : [ "burning" ]
            }
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_icesniperbullet",
            "projectileTypeUncharged": "iceplasma",
            "projectileTypeCharged": "st_strongicesniperbullet",
            "projectileParameters" : {
              "knockback": 20,
              "statusEffects" : [ "frostslow" ]
            }
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_poisonsniperbullet",
            "projectileTypeUncharged": "poisonplasma",
            "projectileTypeCharged": "st_strongpoisonsniperbullet",
            "projectileParameters" : {
              "knockback": 20,
              "statusEffects" : [ "weakpoison" ]
            }
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_electricsniperbullet",
            "projectileTypeUncharged": "electricplasma",
            "projectileTypeCharged": "st_strongelectricsniperbullet",
            "projectileParameters" : {
              "knockback": 20,
              "statusEffects" : [ "electrified" ]
            }
          }
        }
      }
    },
    
    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 6,
        "weaponRotation" : 10,
        "twoHanded" : true,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.25,
        "armRotation" : 6,
        "weaponRotation" : 10,
        "twoHanded" : true,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "machinePistol" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 0.11,
    "baseDps" : 8.5,
    "energyUsage" : 0,
    "ammoUsage" : 1,
    "inaccuracy" : 0.04,
	   
    "reloadTime" : 1,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "standardbullet", 
            "projectileParameters" : {
              "knockback": 2
            }
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "fireplasma", 
            "projectileParameters" : {
              "knockback": 2,
              "statusEffects" : [ "burning" ]
            }
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "iceplasma", 
            "projectileParameters" : {
              "knockback": 2,
              "statusEffects" : [ "frostslow" ]
            }
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "poisonplasma", 
            "projectileParameters" : {
              "knockback": 2,
              "statusEffects" : [ "weakpoison" ]
            }
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "electricplasma", 
            "projectileParameters" : {
              "knockback": 2,
              "statusEffects" : [ "electrified" ]
            }
          }
        }
      }
    },
    
    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : false,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 2,
        "weaponRotation" : 4,
        "twoHanded" : false,
		    "recoil": true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.11,
        "armRotation" : 2,
        "weaponRotation" : 4,
        "twoHanded" : false,
		    "recoil": true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "rocketLauncher" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 1.5,
    "baseDps" : 10,
    "energyUsage" : 0,
    "ammoUsage" : 7.5,
    "inaccuracy" : 0.0,

    "reloadTime" : 2,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "rocketshell", 
            "projectileParameters" : {}
          },
          "guided" : {
            "projectileType" : "guidedrocket", 
            "projectileParameters" : {}
          },
          "homing" : {
            "projectileType" : "st_homingrocket", 
            "projectileParameters" : {}
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_firegasrocket", 
            "projectileParameters" : {}
          },
          "guided" : {
            "projectileType" : "fireguidedrocket", 
            "projectileParameters" : {
              "periodicActions": [
                {
                  "action" : "projectile",
                  "inheritDamageFactor" : 0.5,
                  "type" : "largefirecloud",
                  "angleAdjust" : 180,
                  "time" : 0.1,
                  "fuzzAngle" : 100,
                  "repeat" : true,
                  "config" :{
                    "movementSettings" : {
                      "gravityMultiplier" : 0.1
                    }
                  }
                }
              ]
            }
          },
          "homing" : {
            "projectileType" : "st_firehomingrocket", 
            "projectileParameters" : {}
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_icegasrocket", 
            "projectileParameters" : {}
          },
          "guided" : {
            "projectileType" : "iceguidedrocket", 
            "projectileParameters" : {
              "periodicActions": [
                {
                  "action" : "projectile",
                  "inheritDamageFactor" : 0.5,
                  "type" : "largeicecloud",
                  "angleAdjust" : 180,
                  "time" : 0.1,
                  "fuzzAngle" : 100,
                  "repeat" : true,
                  "config" :{
                    "movementSettings" : {
                      "gravityMultiplier" : 0.1
                    }
                  }
                }
              ]
            }
          },
          "homing" : {
            "projectileType" : "st_icehomingrocket", 
            "projectileParameters" : {}
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_poisongasrocket", 
            "projectileParameters" : {}
          },
          "guided" : {
            "projectileType" : "poisonguidedrocket", 
            "projectileParameters" : {
              "periodicActions": [
                {
                  "action" : "projectile",
                  "inheritDamageFactor" : 0.5,
                  "type" : "largepoisoncloud",
                  "angleAdjust" : 180,
                  "time" : 0.1,
                  "fuzzAngle" : 100,
                  "repeat" : true,
                  "config" :{
                    "movementSettings" : {
                      "gravityMultiplier" : 0.1
                    }
                  }
                }
              ]
            }
          },
          "homing" : {
            "projectileType" : "st_poisonhomingrocket", 
            "projectileParameters" : {}
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "st_electricgasrocket", 
            "projectileParameters" : {}
          },
          "guided" : {
            "projectileType" : "electricguidedrocket", 
            "projectileParameters" : {
              "periodicActions": [
                {
                  "action" : "projectile",
                  "inheritDamageFactor" : 0.5,
                  "type" : "largeelectriccloud",
                  "angleAdjust" : 180,
                  "time" : 0.1,
                  "fuzzAngle" : 100,
                  "repeat" : true,
                  "config" :{
                    "movementSettings" : {
                        "speed" : 10,
                        "gravityMultiplier" : 0.1
                    }
                  }
                }
              ]
            }
          },
          "homing" : {
            "projectileType" : "st_electrichomingrocket", 
            "projectileParameters" : {}
          }
        }
      }
    },

    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 0,
        "weaponRotation" : 0,
        "weaponOffset" : [-0.2, 0],
        "twoHanded" : true,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 1.5,
        "armRotation" : 0,
        "weaponRotation" : 0,
        "weaponOffset" : [-0.2, 0],
        "twoHanded" : true,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  },

  "grenadeLauncher" : {
    "scripts" : ["/items/active/weapons/ranged/gunfire.lua", "/custom/items/weapons/ranged/st_modulargunfire.lua"],
    "class" : "GunFire",

    "fireTime" : 1.0,
    "baseDps" : 6,
    "energyUsage" : 0,
    "ammoUsage" : 4.5,
    "inaccuracy" : 0.0,
	   
	  "reloadTime" : 2,

    "projectileCount" : 1,
    "fireType" : "auto",

    "elementalConfig" : {
      "physical" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "impactgrenade", 
            "projectileParameters" : {}
          }
        }
      },
      "fire" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "firecloudgrenade", 
            "projectileParameters" : {
              "damageKind": "damage",
              "statusEffects" : [ "burning" ]
            }
          }
        }
      },
      "ice" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "icecloudgrenade", 
            "projectileParameters" : {
              "damageKind": "damage",
              "statusEffects" : [ "frostslow" ]
            }
          }
        }
      },
      "poison" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "poisoncloudgrenade", 
            "projectileParameters" : {
              "damageKind": "damage",
              "statusEffects" : [ "weakpoison" ]
            }
          }
        }
      },
      "electric" : {
        "primaryAbility" : { 
          "default" : {
            "projectileType" : "electriccloudgrenade", 
            "projectileParameters" : {
              "damageKind": "damage",
              "statusEffects" : [ "electrified" ]
            }
          }
        }
      }
    },
    
    "stances" : {
      "idle" : {
        "armRotation" : 0,
        "weaponRotation" : 0,
        "twoHanded" : false,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "fire" : {
        "duration" : 0,
        "armRotation" : 7.5,
        "weaponRotation" : 7.5,
        "twoHanded" : false,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      },
      "cooldown" : {
        "duration" : 0.4,
        "armRotation" : 7.5,
        "weaponRotation" : 7.5,
        "twoHanded" : false,
		    "recoil" : true,

        "allowRotate" : true,
        "allowFlip" : true
      }
    }
  }
}
