{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/custom/interface/scripted/modularupgradestation/header.png",
      "fileBody" : "/custom/interface/scripted/modularupgradestation/body.png",
      "fileFooter" : "/custom/interface/scripted/modularupgradestation/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Modular Upgrade Station",
      "subtitle" : " Upgrade your modular weapons!",
      "icon" : {
        "type" : "image",
        "file" : "/custom/interface/scripted/modularupgradestation/modularupgradeicon.png"
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 99, 174, 215],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/custom/interface/scripted/modularupgradestation/listitemselected.png",
            "unselectedBG" : "/custom/interface/scripted/modularupgradestation/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/custom/interface/scripted/modularupgradestation/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/custom/interface/scripted/modularupgradestation/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "frameCostDescription" : {
      "type" : "label",
      "position" : [93, 75],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "REQUIRED MATERIALS"
    },
    "frameCost" : {
      "type" : "label",
      "position" : [83, 55],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "value" : "0 / 2"
    },
    "materialCost" : {
      "type" : "label",
      "position" : [159, 55],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "value" : "-- / 10"
    },
    "materialImage" : {
      "type" : "image",
      "position" : [95, 52],
      "file" : "/custom/interface/scripted/modularupgradestation/default.png"
    },

    "btnUpgrade" : {
      "type" : "button",
      "position" : [92, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Upgrade",
      "callback" : "doUpgrade"
    },
    "cancel" : {
      "type" : "button",
      "position" : [33, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "callback" : "close"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 242]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [86, 150],
      "hAnchor" : "mid",
      "value" : "You don't have any modular weapons that can be upgraded!",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "doUpgrade"
  ],

  "scripts" : ["/custom/interface/scripted/modularupgradestation/st_modularupgradegui.lua"],
  "scriptDelta" : 30,

  "maxLevel" : 5
}
